26208725: systemsetup command allows setting bonjour name > 63 characters

#### Description

The maximum length of the host name and of the fully qualified domain name (FQDN) is 63 bytes per label and 255 bytes per FQDN. Note - Windows does not permit computer names that exceed 15 characters, and you cannot specify a DNS host name that differs from the NETBIOS host name.

DNS limits the length of each label in RFC 1035 - however, that limit is actually 63. Both in RFC 1035 section 2.3.1 and as clarified in RFC 2181 section 11.

 http://tools.ietf.org/html/rfc1035
 http://tools.ietf.org/html/rfc1035#section-2.3.1
 http://tools.ietf.org/html/rfc2181#section-11

On OS X 10.11.4 (15E65), running systemsetup, version 1.5. It will allow you to set local hostname (aka Bonjour Name) to more than 63 characters.

For example, this "systemsetup" command can set the Bonjour name to 64 characters

systemsetup -setcomputername 0123456789012345678901234567890123456789012345678901234567890123
## 

Product Version: 1.5
Created: 2016-05-10T23:22:03.976370
Originated: 2016-05-10T17:18:00
Open Radar Link: http://www.openradar.me/26208725


Modified: 2016-05-10T23:22:03.976540
