44353172: UUID.uuidString returns upper cased characters

#### Description

Area:
Foundation

Summary:
Section 3 of RFC 4122 (https://tools.ietf.org/html/rfc4122#section-3) defines that the UUID string representation should "output as lower case characters".
But the implementation of `UUID.uuidString` returns upper cased characters.

Steps to Reproduce:
UUID(uuidString: "7c42ca9b-9eab-4d04-80b3-40f10b0c54aa")?.uuidString

Expected Results:
7c42ca9b-9eab-4d04-80b3-40f10b0c54aa

Actual Results:
7C42CA9B-9EAB-4D04-80B3-40F10B0C54AA

Version/Build:
Xcode Version 9.4.1 (9F2000), iOS 11.4

-
Product Version: 11.4
Created: 2018-09-11T20:03:35.755898
Originated: 2018-09-10T00:00:00
Open Radar Link: http://www.openradar.me/44353172